
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}

.entry label {
  display: inline-block;
  width: 150px;
  text-align: right;
  vertical-align: middle;
}

.submitarea {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: SlateBlue;
  clear: left;
}

.responsetext {
  padding: 5px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  clear: left;
  background-color: WhiteSmoke;
  width: 90%;
  height: 70px;
  resize: none;
}
